input, button,select,textarea {
    margin: 10;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color:red;
    background-color:yellow;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}
.form-control {
    display: block;
    width: 50%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
   
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}